{% extends 'autosys/base.html' %}
<title>{% block title %}{{ category_name }}{% endblock %}</title>



{% load staticfiles %}

{% block body_block %}


        {% if user.is_authenticated %}
    <div class="page-header">

                <h3>Hello {{ user.username }}! You are in server: {{ category_name }}</h3>
            {% else %}
                <h1>Hello, Please sign in!</h1>
            {% endif %}
    </div>




    <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">

<div class="panel panel-primary">
    <div class="panel-heading">
            <h3 class="panel-title">Services</h3>
    </div>
</div>

        {% if category %}
            {% if pages %}

                {% for page in pages %}


                <div class="form-group">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">

                <div class="col-md-6"><h5><i title="Delete Service" id="{{ page.delete }}" class="glyphicon glyphicon-trash"></i> {{ page.title }}</h5></div>

              </div>


                        <div class="row">
                            <div class="col-md-4">
                            <select class="form-control" id="{{ page.service }}" name="service">
                                        <option id="start" value="start">start</option>
                                        <option id="stop" value="stop">Stop</option>
                            </select>

                        </div>
                            <div class="col-md-8">
                        <button class="btn btn-primary" id="{{ page.id }}" type="submit">Execute</button>
                                <span id="{{ page.result }}"></span>
                                </div>

                            </div>
                        <span id="{{ server_ip }}" class="label label-default"></span>



                    </form>


                </div>


        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

 <script>

//For getting CSRF token
function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
         // Does this cookie string begin with the name we want?
         if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
          }
     }
 }
 return cookieValue;
}

//For doing AJAX post
 $("#{{ page.id }}").click(function(e) {

 e.preventDefault();

 var csrftoken = getCookie('csrftoken');

 var service = $("#{{ page.service }}").val();

 var service_name = $("#{{ page.id }}").get(0).id;
 //var loadidd = $("#{{ server_loadreqlink }}").get(0).id;

 //var user_name = $("#{{ page.title }}").get(0).id;

//var serverip = $("#{{ server_ip }}").get(0).id;


//This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post

 $.ajax({
         url : '/autosys/homee/', // the endpoint,commonly same url
         type : "POST", // http method
         data : { csrfmiddlewaretoken : csrftoken,
         service : service,
         service_name : service_name,
         usern : "{{ user.username }}"
         //sip : "{{ server_ip }}"

 }, // data sent with the post request
         beforeSend:function(){
    // this is where we append a loading image
         $('#{{ page.result }}').html('<img src="/static/images/loader.gif" alt="Loading..." />');
  },

 // handle a successful response
 success : function(json) {
     $('#{{ page.result }}').empty();
      console.log(json); // another sanity check
      //On success show the data posted to server as a message
     $("#{{ page.result }}").append(json.status);
      //alert(json['status'] +'!');


 },

 // handle a non-successful response
 error : function(xhr,errmsg,err) {
 console.log(xhr.status + ": " + xhr.responseText);
 $('#{{ page.result }}').empty();
     $("#{{ page.result }}").append( 'Failed' );// provide a bit more info about the error to the console
 }
 });
});



//For doing AJAX post DELETE
 $("#{{ page.delete }}").click(function(e) {

 e.preventDefault();
if (confirm('Are you sure you want to delete {{ page.title }} service ?')) {

 var csrftoken = getCookie('csrftoken');

 var pageid = $("#{{ page.id }}").get(0).id;


 $.ajax({
         url : '/autosys/delete_service/', // the endpoint,commonly same url
         type : "POST", // http method
         data : { csrfmiddlewaretoken : csrftoken,
         pageid : pageid

 }, // data sent with the post request
         beforeSend:function(){
    // this is where we append a loading image
         $('#{{ page.result }}').html('<img src="/static/images/loader.gif" alt="Loading..." />');
  },

 // handle a successful response
 success : function(json) {
     $('#{{ page.result }}').empty();
   //   console.log(json); // another sanity check
      //On success show the data posted to server as a message
     $("#{{ page.result }}").append(json.status);
     location.reload();
      //alert(json['status'] +'!');


 },

 // handle a non-successful response
 error : function(xhr,errmsg,err) {
 console.log(xhr.status + ": " + xhr.responseText);
 $('#{{ page.result }}').empty();
     $("#{{ page.result }}").append( 'Failed' );// provide a bit more info about the error to the console
 }
 });
 }
});





</script>






                {% endfor %}
            </ul>
            {% else %}
                <strong>No services currently listed from this server.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
            </br></br></br>
            {% if category %}
                <a class="btn btn-default" href="/autosys/category/{{ category_name_slug }}/add_page/">Add a New Service</a><br />

            {% else %} A category by this name does not exist
            {% endif %}

</div>

    <div class="col-xs-12 col-sm-6 placeholder">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Load Balancing</h3>
                    </div>
                </div>

        {% if category %}



                <div class="form-group">

                    <form method="POST">
                        {% csrf_token %}

                        <div class="col-xs-4">

                            <select class="form-control" id="9807" name="service">
                                        <option id="start" value="enable">Enable</option>
                                        <option id="stop" value="disable">Connection Shutdown</option>
                            </select>

                        </div>


                        <button class="btn btn-primary" id="9808" type="submit">Execute</button>

                        <span id="9809"></span>
                        <span id="{{ server_loadreqlink }}" class="label label-default"></span>

                    </form>

                </div>

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script>

//For getting CSRF token
function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
         // Does this cookie string begin with the name we want?
         if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
          }
     }
 }
 return cookieValue;
}

//For doing AJAX post
 $("#9808").click(function(e) {

 e.preventDefault();

 var csrftoken = getCookie('csrftoken');

 var service = $("#9807").val();

 var loadid = $("#{{ server_loadreqlink }}").get(0).id;

 $.ajax({
         url : '/autosys/enable/', // the endpoint,commonly same url
         type : "POST", // http method
         data : { csrfmiddlewaretoken : csrftoken,
         service : service,
         server_loadid : loadid,

 }, // data sent with the post request
     beforeSend:function(){
    // this is where we append a loading image
         $('#9809').html('<img src="/static/images/loader.gif" alt="Loading..." />');
  },

 // handle a successful response
 success : function(json) {
     $('#9809').empty();
      console.log(json); // another sanity check
      //On success show the data posted to server as a message
     $("#9809").append(json.status);
      //alert(json['status'] +'!');


 },

 // handle a non-successful response
 error : function(xhr,errmsg,err) {
 console.log(xhr.status + ": " + xhr.responseText);
     $('#9809').empty();
     $("#9809").append( 'Failed' );// provide a bit more info about the error to the console
 }
 });
});




</script>

        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}

<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Other Tasks</h3>
                    </div>
                </div>

{% if category %}
                <div class="form-group">

                    <span method="POST">
                        {% csrf_token %}

                        <div class="col-xs-4">

                            <select class="form-control" id="9a807" name="service">
                                        <option id="reboot" value="reboot">Reboot Server</option>

                            </select>

                        </div>


                        <button class="btn btn-primary" id="98a08" type="submit">Execute</button>

                        <span id="98n09"></span>
                        <span id="{{ category.id }}"></span>


                    </form>

                </div>

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script>

//For getting CSRF token
function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
         var cookies = document.cookie.split(';');
         for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
         // Does this cookie string begin with the name we want?
         if (cookie.substring(0, name.length + 1) == (name + '=')) {
             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
             break;
          }
     }
 }
 return cookieValue;
}

//For doing AJAX post
 $("#98a08").click(function(e) {

 e.preventDefault();

 var csrftoken = getCookie('csrftoken');

 var service = $("#9a807").val();

 var loadidd = $("#{{ category.id }}").get(0).id;

 $.ajax({
         url : '/autosys/reboot/', // the endpoint,commonly same url
         type : "POST", // http method
         data : { csrfmiddlewaretoken : csrftoken,
         service : service,
         server_loadidd : loadidd,
         usr : "{{ user.username }}"

 }, // data sent with the post request
     beforeSend:function(){
    // this is where we append a loading image
         $('#98n09').html('<img src="/static/images/loader.gif" alt="Loading..." />');
  },

 // handle a successful response
 success : function(json) {
     $('#98n09').empty();
      console.log(json); // another sanity check
      //On success show the data posted to server as a message
     $("#98n09").append(json.status);
      //alert(json['status'] +'!');


 },

 // handle a non-successful response
 error : function(xhr,errmsg,err) {
 console.log(xhr.status + ": " + xhr.responseText);
     $('#98n09').empty();
     $("#98n09").append( 'Failed' );// provide a bit more info about the error to the console
 }
 });
});




</script>

{% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}

    </div>



    </div>



{% endblock %}






